<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

  <link rel="shortcut icon" href="https://lhbzr.com/static/images/shared/favicon.png">

  <meta property="og:url" content="https://lhbzr.com/naturally-bizarre/">
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta property="og:image" content="https://lhbzr.com/static/images/shared/share.jpg">
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@lhbzr">
  <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="twitter:image" content="https://lhbzr.com/static/images/shared/share.jpg">
</head>
<body>

</body>
</html>
